/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
    padding: 0;
    margin: 0;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    max-width: 1440px;
    min-width: 1024px;
}

.main-container {
    top: 188px;
    left: 1599px;
    padding: 0 50px;
    box-sizing: border-box;
    gap: 30px;
}

a {
    text-decoration: none; /* pour ne pas souligner le text */
}

li {
    list-style: none;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutralStar {
    color: var(--main-bg-color)
}

/****** Header ********/

.header {
    width: 1440px;
    height: 79px;
    display: flex;
    flex-direction: column;
}

.logo{
    width-Hug: 161px;
    height-Hug: 79px;
    padding: 20px 0;
    gap: 10px;
    display: flex;
    float: left;
}

.booki {
    width: 61px;
    height: 19px;
    top: 30px;
    left: 50px;
    display: flex;
}

.header nav ul {
    display: flex;
    float: right; /* positionnemt de ma liste a droite*/
    list-style: none; /* enleve les petits ronds par defaut devant mes elements ul*/
    text-align: right;
}

.header nav ul li {
    float: right;  /*display en float car li(ste) est en bloc auto*/
    padding: 20px; /* le padding ne sapplique pas car les link sont en display inline par defaut*/
    display: inline;  /*les 'a' les link je les display a bloc car sinon ils sont colles tout en haut*/
    text-align: right;
}

.house {
    width: 112px;
    height: 19px;
    Top: 16px;
    color: #0065FC;
}

.activity {
    Width: 63px;
    Height: 19px;
    Top: 16px;
    Left: 181px;
    color: black;
}

/****** Info Group ***********/

.info-group {
    width: 1340px;
    height: 281px;
    gap: 35px;
    display: flex;
    flex-direction: column;
}

/******* Headline **********/

.headline {
    width: 1340px;
    Height: 53px;
    Gap: 8px;
}

/****** Search-bar ************/

.search-bar {
    width: 377px;
    height: 49px;
    background-color: rgba(255, 255, 255, 1);
    border: 1px rgba(242, 242, 242, 1);
    border-radius: 15px;
    display: flex;
    align-items: center;
}

.localisation {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 49px;
    border-radius: 15px 0 0 15px;
    border: 1px;
    background-color: #F2F2F2;
}

.fa-map-marker-alt {
    width: 14px;
    height: 18px;
    top: 15px;
    left: 18px;
    color: #000000;
}

.marseille {
    width: 147px;
    height: 21px;
    font-size: 18px;
    line-height: 21px;
    font-weight: 700;
    text-align: center;
    color: rgba(0, 0, 0, 1);
    border: none;
}

.search-button {
    background-color: #0065FC;
    color: white;
    padding: 15px 16px 15px 16px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 0 15px 15px 0;
    border: none;
    Gap: 10px;
    width: 132px;
    height: 49px;
}

.search-button:hover {
    background-color: #0056b3;
}

/******* Filter-Bar ***********************/

.filter-bar{
    width: 758px;
    height: 50px;
    gap: 15px;
    display: flex;
    align-items: center;
}

.filter-bar h3 {
    width: 54px;
    Height: 21px;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
    align-items: center;
}

.filter1 {
    width-hug: 173px;
    height-fixed: 50px;
    border-radius: 25px;
    border: 2px solid rgba(217, 217, 217, 1);
    padding: 4px 19px 4px 19px;
    gap: 10px;
    display: inline;
    background-color: white;
}

.filter1 span{
    width: 103px;
    height: 20px;
    font-size: 17px;
    font-weight: 700;
    line-height: 20px;
    text-align: left;
}

.filter2 {
    width-hug: 134px;
    height-fixed: 50px;
    border-radius: 25px;
    border: 2px solid rgba(217, 217, 217, 1);
    padding: 4px 19px 4px 19px;
    gap: 10px;
    display: inline;
    background-color: white;
}

.filter2 span{
    width: 64px;
    height: 20px;
    font-size: 17px;
    font-weight: 700;
    line-height: 20px;
    text-align: left;
}

.filter3 {
    width-hug: 170px;
    height-fixed: 50px;
    border-radius: 25px;
    border: 2px solid rgba(217, 217, 217, 1);
    padding: 4px 19px 4px 19px;
    gap: 10px;
    display: inline;
    background-color: white;
}

.filter3 span{
    width: 100px;
    height: 20px;
    font-size: 17px;
    font-weight: 700;
    line-height: 20px;
    text-align: left;
}

.filter4 {
    width-hug: 167px;
    height-fixed: 50px;
    border-radius: 25px;
    border: 2px solid rgba(217, 217, 217, 1);
    padding: 4px 19px 4px 19px;
    gap: 10px;
    display: inline;
    background-color: white;
}

.filter4 span{
    width: 97px;
    height: 20px;
    font-size: 17px;
    font-weight: 700;
    line-height: 20px;
    text-align: left;
}

.icones {
    width: 22px;
    height: 22px;
    display: flex;
}

.fa-money-bill-wave {
    width: 22px;
    height: 16px;
    top: 3px;
    color: #0065FC;
    display: inline-flex;
}

.fa-person {
    width: 13px;
    height: 22px;
    left: 4px;
    color: #0065FC;
    display: inline-flex;
}

.fa-heart {
    width: 22px;
    height: 18px;
    top: 2px;
    color: #0065FC;
    display: inline-flex;
}

.fa-fire {
    width: 18px;
    height: 20px;
    top: 1px;
    left: 2px;
    color: #0065FC;
    display: inline-flex;
}

.classement {
    width: 97px;
    height: 20px;
    font-weight: 700;
    font-size: 17px;
    line-height: 20px;
    color: #000000;
}

.filter-button:hover {
    background-color: #DEEBFF;
}

/******** Info-bar ********************/

.info-bar{
    width-fill: 1340px;
    height-fixed: 24px;
    gap: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon {
    width: 24px;
    height: 24px;
    position: relative;
    border: 1px;
}

.fa-solid.fa-info{
    width: 4px;
    height: 10px;
    top: 5px;
    left: 10px;
    color: rgba(0, 101, 252, 1);
    font-size: 10px;
    position: absolute;
    text-align: center;
}

.fa-regular.fa-circle{
    width: 24px;
    height: 24px;
    border: 1px;
    font-size: 20px;
    color: rgba(217, 217, 217, 1);
    text-align: center;
}

/**.p:before{
    content: "\0024D8";
}**/

.info-bar p{
    width: 1306px;
    height: 19px;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: rgba(0, 0, 0, 1);
    display: inline-flex;
}

/****** Hebergements And Populaires ***********/

.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 35px;
    box-sizing: border-box;
}

/****** Hebergements ***********/

.hebergements {
    width: 65%;
}

.card-hebergement-row{
    display: flex;
    flex-direction: row;
    width-fill: 811px;
    height-hug: 207px;
    gap: 30px;
}

.populaires-cards .card-hebergement{
    width-fill: 250px;
    height-Hug: 207px;
    padding: 0 0 15px 0;
    gap: 4px;
    border-radius: 20px;
    background: rgba(255, 255, 255, 1);
    box-shadow: 0 3px 15px 0 rgba(0, 0, 0, 0.1);
    margin-top: 33px;
}

.populaires-cards .card-hebergement img{
    width: 250px;
    height: 124px;
    gap: 0;
    border-radius: 20px 20px 0 0;
    border: 5px solid rgba(255, 255, 255, 1);
}

.heber-content{
    width-fill: 250px;
    height-hug: 64px;
    padding: 0 15px 0 15px;
    gap: 8px;
}

.btn-affichPlus{
    width: 811px;
    height: 21px;
    margin-top: 25px;
}

.affichPlus{
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
    color: rgba(0, 0, 0, 1);
}

.btn-cards{
    color: rgba(0, 0, 0, 1);
}


/****** Populaires ***********/

.populaires {
    width: 31%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 37%;
    height: 134px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 63%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 11px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 7px;
}

/******** Activités à Marseille *************/

#activités {
    border-radius: 20px;
    padding: 35px;
}

.activités-content{
    padding: 30px 0 0 0;
    gap: 30px;
    display: flex;
    flex-direction: column;
    margin-top: 11px;
    margin-bottom: 4px;
}

.activités-cards{
    gap: 30px;
}

.card-activités{
    float: left;
    margin: 0 34px 0 0;
}

.card-activités img{
    width: 298px;
    height: 380px;
    border-radius: 20px 20px 0 0;
}

.activités-cards .card-content{
    padding: 20px 19px 20px 19px;
    gap: 10px;
    border-radius: 0 0 20px 20px;
    box-shadow: 0 3px 15px 0 rgba(0, 0, 0, 0.1);
}

/**********FOOTER********************/

.footer{
    width-fill: 1340px;
    height-hug: 163px;
    background-color: var(--main-bg-color);
    display: flex;
    flex-direction: row;
}

.apropos{
    width-fill: 447px;
    height-fill: 163px;
    padding: 20px;
    gap: 15px;
    width: 33%;
}

.apropos h1{
    width-hug: 77px;
    height-hug: 21px;
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
    text-align: left;
}

.apropos .fonction{
    width-hug: 176px;
    height-hug: 19px;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    text-align: left;
    padding: 20px 0 0 0;
    gap: 15px;
}

.apropos .conditions{
    width-hug: 157px;
    height-hug: 19px;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    text-align: left;
    padding: 20px 0 0 0;
    gap: 15px;
}

.apropos .donnees{
    width-hug: 194px;
    height-hug: 19px;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    text-align: left;
    padding: 20px 0 0 0;
    gap: 15px;
}

.nosheber{
    width-fill: 447px;
    height-fill: 163px;
    padding: 20px;
    gap: 15px;
    width: 33%;
}

.nosheber h1{
    width-hug: 165px;
    height-hug: 21px;
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
    text-align: left;
}

.nosheber .charte{
    width-hug: 104px;
    height-hug: 19px;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    text-align: left;
    padding: 20px 0 0 0;
    gap: 15px;
}

.nosheber .proposer{
    width-hug: 150px;
    height-hug: 19px;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    text-align: left;
    padding: 20px 0 0 0;
    gap: 15px;
}

.assist{
    width-fill: 447px;
    height-fill: 163px;
    padding: 20px;
    gap: 15px;
    width: 33%;
}

.assist h1{
    width-hug: 93px;
    height-hug: 21px;
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
    text-align: left;
}

.assist .centre{
    width-hug: 97px;
    height-hug: 19px;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    text-align: left;
    padding: 20px 0 0 0;
    gap: 15px;
}

.assist .contact{
    width-hug: 114px;
    height-hug: 19px;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    text-align: left;
    padding: 20px 0 0 0;
    gap: 15px;
}

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media screen and (min-width: 768px) and (max-width: 1024px){

    /****** Header ********/

    .main-container{
        width-fixed: 1024px;
        height-hug: 2003px;
        gap: 30px;
        top: 188px;
        left: 475px;
        padding: 0 35px;
    }

    .header{
        max-width: 1024px;
        max-height: 79px;
    }

    .header nav ul li a{
        width: 244px;
        height: 35px;
        gap: 68px;
    }

    .booki{
        width: 61px;
        height: 19px;
        top: 30px;
        left: 50px;
    }

    header nav ul {
        width: 344px;
        height: 35px;
        left: 680px;
        padding: 0 50px;
        gap: 68px;
    }

    .house{
        width: 113px;
        height: 35px;
    }

    .activity{
        width: 63px;
        height: 35px;
        padding-right: 30px;
    }

    .body{
        width-fill: 1024px;
        height-hug: 1894px;
        padding: 0 50px;
        gap: 35px;
    }

    /****** Info Group ***********/

    .info-group{
        width-fill: 924px;
        height-hug: 322px;
        gap: 35px;
    }

    /******* Headline **********/

    .headline {
        width-fill: 924px;
        height-hug: 53px;
        gap: 8px;
    }

    .headline h2{
        width: 924px;
        height: 26px;
    }

    .headline p{
        width: 924px;
        height: 19px;
    }

    /******* Filter-Bar ***********************/

    .filter-bar{
        width-hug: 668px;
        height-hug: 91px;
        gap: 20px;
        display: flex;
        flex-direction: column;
        align-items: start;
    }

    .filter-bar h3{
        width: 54px;
        height: 21px;
    }

    .filtres {
        width: 668px;
        height: 50px;
        border-radius: 25px 0;
        border: 2px;
    }

    .filter1 {
        width-hug: 167px;
        height-fixed: 50px;
        top: 41px;
        padding: 4px 19px 4px 19px;
        gap: 10px;
        border-radius: 25px;
        border: 2px solid rgba(217, 217, 217, 1)
    }

    .filter1 span{
        width: 97px;
        height: 19px;
        font-size: 16px;
        font-weight: 700;
        line-height: 19px;
        text-align: left;
    }

    .filter2 {
        width-hug: 131px;
        height-fixed: 50px;
        top: 41px;
        left: 182px;
        padding: 4px 19px 4px 19px;
        gap: 10px;
        border-radius: 25px;
        border: 2px solid rgba(217, 217, 217, 1);
    }

    .filter2 span{
        width: 61px;
        height: 19px;
        font-size: 16px;
        font-weight: 700;
        line-height: 19px;
        text-align: left;
    }

    .filter3 {
        width-hug: 164px;
        height-fixed: 50px;
        top: 41px;
        left: 328px;
        padding: 4px 19px 4px 19px;
        gap: 10px;
        border-radius: 25px;
        border: 2px solid rgba(217, 217, 217, 1);
    }

    .filter3 span{
        width: 94px;
        height: 19px;
        font-size: 16px;
        font-weight: 700;
        line-height: 19px;
        text-align: left;
    }

    .filter4 {
        width-hug: 161px;
        height-fixed: 50px;
        top: 41px;
        left: 507px;
        padding: 4px 19px 4px 19px;
        gap: 10px;
        border-radius: 25px;
        border: 2px solid rgba(217, 217, 217, 1);
    }

    .filter4 span{
        width: 91px;
        height: 19px;
        font-size: 16px;
        font-weight: 700;
        line-height: 19px;
        text-align: left;
    }

    .filter-button:hover {
        background-color: #DEEBFF;
    }

    /******** Info-bar ********************/

    .info-bar{
        width-fill: 924px;
        height-hug: 24px;
        gap: 10px;
        padding: 15px 0;
        margin-top: 10px;
        display: flex;
        justify-content: center;
        align-items: start;
    }


    /********* HEBERGEMENTS ET POPULAIRES **********/

    .hebergements-and-populaires {
        width-fill: 924px;
        height-hug: 914px;
        gap: 50px;
        display: flex;
        flex-direction: column;
        padding-top: 30px;
    }

    /********** HEBERGEMENTS ***************/

    .hebergements {
        width: 70%;
        width-fill: 924px;
        height-hug: 612px;
        margin-top: 15px;
        padding: 30px;
        gap: 30px;
        border-radius: 15px 0 0 0;
    }

    .section-title{
        width: 864px;
        height: 26px;
        font-size: 22px;
        font-weight: 700;
        line-height: 26px;
        text-align: left;
    }

    .card-hebergement-row{
        width-fill: 864px;
        height-hug: 207px;
        gap: 30px;
        display: flex;
        flex-direction: row;
    }

    .hebergements .populaires-cards {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .populaires-cards .card-hebergement{
        width-fill: 268px;
        height-hug: 207px;
        padding: 0 0 15px 0;
        gap: 4px;
        border-radius: 20px;
    }

    .populaires-cards .card-hebergement img{
        width: 268px;
        height: 124px;
        gap: 0;
        border-radius: 20px 20px 0 0;
        border: 5px solid rgba(255, 255, 255, 1);
    }

    .populaires-cards .card-hebergement .card-content{
        width-fill: 268px;
        height-hug: 64px;
        padding: 0 15px;
        gap: 8px;
    }

    .heber-content{
        width-fill: 268px;
        height-hug: 64px;
        padding: 0 15px;
        gap: 8px;
    }

    .heber-content .card-title {
        font-size: 14px;
    }

    .heber-content .card-subtitle {
        font-size: 13px;
    }

    .heber-content .card-rating{
        margin-top: 10px;
    }

    .btn-affichPlus{
        width: 864px;
        height: 21px;
        margin-top: 25px;
    }

    /************ POPULAIRES ****************/

    .populaires {
        width: 70%;
        margin-top: 10px;
        width-fill: 924px;
        height-hug: 252px;
        padding: 30px;
        gap: 20px;
        border-radius: 15px;
    }

    .populaires .populaires-title .section-title{
        width: 300px;
        height: 26px;
    }

    .populaires-cards {
        width-fill: 864px;
        height-hug: 146px;
        gap: 20px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards .card {
        width: 275px;
        height: 146px;
        gap: 15px;
        border-radius: 20px;
        padding-right: 0;
    }

    .populaires-cards .card img{
        width: 92px;
        height: 146px;
        border-radius: 20px 0 0 20px;
        border: 5px;
    }

    .populaires-cards .card-content {
        margin: 0;
        padding: 0;
    }


    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
        margin: 0;
        padding: 0;
    }

/*********** ACTIVITES ****************/

    #activités{
        width: 70%;
        width-fill: 924px;
        height-hug: 390px;
        gap: 30px;
        padding: 30px;
    }

    .activités-content .populaires-title .section-title{
        width: 864px;
        height: 30px;
    }

    .activités-cards{
        width-fill: 864px;
        height-hug: 270px;
        gap: 30px;
    }

    .activités-cards .card{
        margin: 0 25px 0 0;
    }

    .activités-cards .card-activités{
        width-fill: 193px;
        height-hug: 270px;
        border-radius: 20px;
    }

    .activités-cards .card-activités img{
        width: 193px;
        height: 200px;
        border-radius: 20px 20px 0 0;
    }

    .activités-cards .card-activités .card-content{
        width-fill: 193px;
        height-fixed: 70px;
        padding: 20px 19px 20px 19px;
        gap: 10px;
        border-radius: 0 0 20px 20px;
    }

    .activités-cards .card-activités .card-title{
        width: 155px;
        height: 38px;
    }

/************* FOOTER *******************/

    .footer{
        width: 70%;
        width-fill: 924px;
        height-hug: 163px;
        gap: 30px;
        display: flex;
    }

    .apropos{
        width-fill: 288px;
        height-fill: 163px;
        padding: 20px;
        gap: 15px;
    }

    .nosheber{
        width-fill: 288px;
        height-fill: 163px;
        padding: 20px;
        gap: 15px;
    }

    .assist{
        width-fill: 288px;
        height-fill: 163px;
        padding: 20px;
        gap: 15px;
    }

}

/* Small devices (phones, less than 768px) */
@media screen and (orientation: portrait) and (min-width: 320px) and (max-width: 768px) {
    /* ... */


    /****** Header ********/

    .main-container{
        width: 375px;
        height: auto;
        justify-content: center;
        align-items: center;
    }

    .header nav{
        width: 30%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .logo{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
    }

    .booki {
        display: flex;
    }

    header nav ul li{
        display: flex;
        align-items: flex-start;
    }

    .house {
        border-bottom: #0056b3 2px solid;
        padding-bottom: 10px;
        margin: 0;
    }

    /****** Body **********/

    .body{
        display: flex;
        flex-direction: column;
    }

    /****** Info Group ***********/

    .info-group{
        width: 375px;
        height: 432px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        margin-top: 50px;
    }

    /******* Headline **********/

    .headline {
        width: 335px;
        height: 79px;
        display: flex;
        flex-direction: column;
    }

    .headline h2{
        width: 100%;
        display: flex;
        flex-direction: row;
        margin-bottom: 30px;
    }

    .headline p{
        width: 100%;
    }

    /******* Filter-Bar ***********************/
/**
    .filter-bar{
        width-hug: 668px;
        height-hug: 91px;
        gap: 20px;
        display: flex;
        flex-direction: column;
        align-items: start;
    }

    .filter-bar h3{
        width: 54px;
        height: 21px;
    }

    .filtres {
        width: 668px;
        height: 50px;
        border-radius: 25px 0;
        border: 2px;
    }

    .filter1 {
        width-hug: 167px;
        height-fixed: 50px;
        top: 41px;
        padding: 4px 19px 4px 19px;
        gap: 10px;
        border-radius: 25px;
        border: 2px solid rgba(217, 217, 217, 1)
    }

    .filter1 span{
        width: 97px;
        height: 19px;
        font-size: 16px;
        font-weight: 700;
        line-height: 19px;
        text-align: left;
    }

    .filter2 {
        width-hug: 131px;
        height-fixed: 50px;
        top: 41px;
        left: 182px;
        padding: 4px 19px 4px 19px;
        gap: 10px;
        border-radius: 25px;
        border: 2px solid rgba(217, 217, 217, 1);
    }

    .filter2 span{
        width: 61px;
        height: 19px;
        font-size: 16px;
        font-weight: 700;
        line-height: 19px;
        text-align: left;
    }

    .filter3 {
        width-hug: 164px;
        height-fixed: 50px;
        top: 41px;
        left: 328px;
        padding: 4px 19px 4px 19px;
        gap: 10px;
        border-radius: 25px;
        border: 2px solid rgba(217, 217, 217, 1);
    }

    .filter3 span{
        width: 94px;
        height: 19px;
        font-size: 16px;
        font-weight: 700;
        line-height: 19px;
        text-align: left;
    }

    .filter4 {
        width-hug: 161px;
        height-fixed: 50px;
        top: 41px;
        left: 507px;
        padding: 4px 19px 4px 19px;
        gap: 10px;
        border-radius: 25px;
        border: 2px solid rgba(217, 217, 217, 1);
    }

    .filter4 span{
        width: 91px;
        height: 19px;
        font-size: 16px;
        font-weight: 700;
        line-height: 19px;
        text-align: left;
    }

    .filter-button:hover {
        background-color: #DEEBFF;
    }
**/
    /******** Info-bar ********************/
/**
    .info-bar{
        width-fill: 924px;
        height-hug: 24px;
        gap: 10px;
        padding: 15px 0;
        margin-top: 10px;
        display: flex;
        justify-content: center;
        align-items: start;
    }
**/
    /********* HEBERGEMENTS ET POPULAIRES **********/

    .hebergements-and-populaires {
        display: flex;
        flex-direction: column-reverse;
    }

    /********** HEBERGEMENTS ***************/
/**
    .hebergements {
        width: 70%;
        width-fill: 924px;
        height-hug: 612px;
        margin-top: 15px;
        padding: 30px;
        gap: 30px;
        border-radius: 15px 0 0 0;
    }

    .section-title{
        width: 864px;
        height: 26px;
        font-size: 22px;
        font-weight: 700;
        line-height: 26px;
        text-align: left;
    }

    .card-hebergement-row{
        width-fill: 864px;
        height-hug: 207px;
        gap: 30px;
        display: flex;
        flex-direction: column;
    }

    .hebergements .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards .card-hebergement{
        width-fill: 268px;
        height-hug: 207px;
        padding: 0 0 15px 0;
        gap: 4px;
        border-radius: 20px;
    }

    .populaires-cards .card-hebergement img{
        width: 268px;
        height: 124px;
        gap: 0;
        border-radius: 20px 20px 0 0;
        border: 5px solid rgba(255, 255, 255, 1);
    }

    .populaires-cards .card-hebergement .card-content{
        width-fill: 268px;
        height-hug: 64px;
        padding: 0 15px;
        gap: 8px;
    }

    .heber-content{
        width-fill: 268px;
        height-hug: 64px;
        padding: 0 15px;
        gap: 8px;
    }

    .heber-content .card-title {
        font-size: 14px;
    }

    .heber-content .card-subtitle {
        font-size: 13px;
    }

    .heber-content .card-rating{
        margin-top: 10px;
    }

    .btn-affichPlus{
        width: 864px;
        height: 21px;
        margin-top: 25px;
    }
**/

    /************ POPULAIRES ****************/
/**
    .populaires {
        width: 70%;
        margin-top: 10px;
        width-fill: 924px;
        height-hug: 252px;
        padding: 30px;
        gap: 20px;
        border-radius: 15px;
    }

    .populaires .populaires-title .section-title{
        width: 300px;
        height: 26px;
    }

    .populaires-cards {
        width-fill: 864px;
        height-hug: 146px;
        gap: 20px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards .card {
        width: 275px;
        height: 146px;
        gap: 15px;
        border-radius: 20px;
        padding-right: 0;
    }

    .populaires-cards .card img{
        width: 92px;
        height: 146px;
        border-radius: 20px 0 0 20px;
        border: 5px;
    }

    .populaires-cards .card-content {
        margin: 0;
        padding: 0;
    }


    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
        margin: 0;
        padding: 0;
    }
**/
    /*********** ACTIVITES ****************/
/**
    #activités{
        width: 70%;
        width-fill: 924px;
        height-hug: 390px;
        gap: 30px;
        padding: 30px;
    }

    .activités-content .populaires-title .section-title{
        width: 864px;
        height: 30px;
    }

    .activités-cards{
        width-fill: 864px;
        height-hug: 270px;
        gap: 30px;
    }

    .activités-cards .card{
        margin: 0 25px 0 0;
    }

    .activités-cards .card-activités{
        width-fill: 193px;
        height-hug: 270px;
        border-radius: 20px;
    }

    .activités-cards .card-activités img{
        width: 193px;
        height: 200px;
        border-radius: 20px 20px 0 0;
    }

    .activités-cards .card-activités .card-content{
        width-fill: 193px;
        height-fixed: 70px;
        padding: 20px 19px 20px 19px;
        gap: 10px;
        border-radius: 0 0 20px 20px;
    }

    .activités-cards .card-activités .card-title{
        width: 155px;
        height: 38px;
    }
**/
    /************* FOOTER *******************/
/**
    .footer{
        width: 70%;
        width-fill: 924px;
        height-hug: 163px;
        gap: 30px;
        display: flex;
    }

    .apropos{
        width-fill: 288px;
        height-fill: 163px;
        padding: 20px;
        gap: 15px;
    }

    .nosheber{
        width-fill: 288px;
        height-fill: 163px;
        padding: 20px;
        gap: 15px;
    }

    .assist{
        width-fill: 288px;
        height-fill: 163px;
        padding: 20px;
        gap: 15px;
    }
    **/
}