# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\OpenClassRooms\Projet2-Booki\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
